body {
    background: #009578;
}

.timeline {
    margin: 0;
    max-width: 300px; /* Adjust the width to fit the left side */
    padding: 25px;
    display: grid;
    grid-template-columns: 3px 1fr; /* Timeline line first, then content */
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    position: fixed; /* Keep the timeline fixed on the left side */
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto; /* Scroll if content exceeds the viewport */
}

.timeline__component {
    margin: 0 0 20px 20px; /* Adjust margin to space out content from the line */
}

.timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline__component--bottom {
    margin-bottom: 0;
}

.timeline__middle {
    position: relative;
    background: #ffffff;
    width: 3px; /* Width of the timeline line */
}

.timeline__point {
    position: absolute;
    top: 0;
    left: -6px; /* Position point left of the line */
    transform: translateX(0);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
}

.timeline__point--bottom {
    top: initial;
    bottom: 0;
}

.timeline__date {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline__paragraph {
    line-height: 1.5;
}

