/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #458a9a;
    color: #081b29;
}

/* Body and Font Styles */
body {
    color: #ededed;
    background-color: #081b29;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header and Navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
    margin-left: auto;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #458a9a;
}

/* Project Description */
.project-description {
    margin-top: 80px; /* Adjust this value based on the height of your header */
    padding: 40px 10%;
    background-color: #081b29;
    color: #ededed;
    text-align: left;
}

.project-description h1,
.project-description h4 {
    text-align: left;
    font-family: 'Trirong', serif;
}

.project-description h1 {
    font-size: 36px;
    margin-bottom: 1px;
}

.project-description h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.project-description p {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* Media Wrapper Styles */
.media {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Add space between the slider and the video */
}

.slideshow-container, .video-container {
    flex: 1; /* Take equal space */
    height: 480px; /* Set a fixed height */
    overflow: hidden;
}

.slideshow-container img, .video-container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background for better visibility */
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #458a9a;
}

.text {
    color: #458a9a;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot-container {
    text-align: center; /* Center the dots horizontally */
    margin-top: 10px; /* Space between the image and the dots */
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #458a9a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.tab-text {
    padding-left: 2em; /* Adjust the value to increase or decrease the tab width */
}

a:hover {
    color: #458a9a; /* Change to your desired color */
}





