.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body {
    color: #ededed;
    background-color: #081b29;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    margin-left: auto;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #458a9a;
}

.project-description {
    margin-top: 80px; /* Adjust this value based on the height of your header */
    padding: 40px 10%;
    background-color: #081b29; /* Example background color */
    color: #ededed;
    text-align: left;
}

.project-description h1,
.project-description h4 {
    text-align: left; /* Aligns h1 and h4 to the left */
    font-family: 'Trirong', serif;
}
.project-description h1 {
    font-size: 36px;
    margin-bottom: 1px;
}
.project-description h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.project-description p {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #458a9a;
    color: #081b29;
}
hr {
    border: none; /* Removes the default border */
    height: 2px; /* Sets the thickness of the line */
    background-color:#458a9a; /* Sets the color of the line */
    margin: 20px 0; /* Adds space above and below the line */
}
.slideshow-container {
    max-width: 600px; /* Match this to the max width of images */
    position: relative;
    margin-left: 0; /* Align the container to the left if needed */
    padding: 0; /* No padding around the container */
}

.slideshow-container img {
    width: 100%; /* Image takes up the full width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background for better visibility */
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #458a9a;
}

.text {
    color: #458a9a;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot-container {
    text-align: left; /* Center the dots horizontally */
    margin-top: 10px; /* Space between the image and the dots */
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #458a9a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


.slide {
    display: none;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.tab-text {
    padding-left: 2em; /* Adjust the value to increase or decrease the tab width */
}
a {
    color:#ededed;
    text-decoration:none;
}
a:hover {
    color: #458a9a;/* Change to your desired color */
}
.cat {
    text-align: center;
}
.cat img{

    width:50%

}